@value borderColor, secondaryFontColor, primaryFontColor from 'SharedStyles/globalStyles.css';
@value smallBP from 'SharedStyles/globalStyles.css';

/**
 * Discussion styles
 */

.container {
  padding: 20px 10px 0px 10px;
  position: relative;
}

.infoContainer {
  display: flex;
  align-items: center;

  & .avatar {
    width: 42px;
    height: 42px;
    border-radius: 50px;
  }

  & .columnOnSmallBP {
    flex: 1;
    display: flex;
    @media smallBP { flex-direction: column; }
  }

  & .userInfo {
    margin-left: 10px;
    flex: 1;
    display: flex;

    & .name {
      font-weight: 700;
      color: primaryFontColor;
      text-decoration: none;
    }

    & .gitHandler {
      margin-left: 15px;
      text-decoration: none;
      color: secondaryFontColor;
      transition: color 0.3s;
      &:hover { color: primaryFontColor; }

      & .gitIcon { margin-right: 5px; }
    }
  }

  & .dateInfo {
    font-size: 13px;
    color: secondaryFontColor;
    @media smallBP { margin-left: 10px; }
  }
}

.discTitle {
  margin-top: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.discContent {
  margin-top: 10px;
  font-size: 15px;
  line-height: 26px;
}

.discFooter {
  margin-top: 10px;
  display: flex;
  align-items: center;

  @media smallBP {
    flex-direction: column;
    align-items: flex-start;
  }

  & .tags { flex: 1; }

  & .favoriteButton,
  & .deleteButton {
    @media smallBP {
      margin-top: 5px;
      padding-left: 0px;
      padding-right: 0px;
    }
    & i {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}

.deletingDiscussion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}
