@value primaryFontColor, secondaryFontColor, borderColor from 'SharedStyles/globalStyles.css';
@value smallBP from 'SharedStyles/globalStyles.css';

.container {
  margin: 0px 0px 0px 10px;
}

.tagContainer {
  height: 36px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.label {

}

.inputContainer {
  display: flex;
  align-items: center;
}

.tagInput {
  width: 100px;
  padding: 10px 10px;
  border: none;
  outline: none;
  background-color: none;
}

.addButton {
  padding: 5px 10px;
  font-size: 20px;
}

.errorMsg {
  font-weight: bold;
  margin-top: 5px;
  color: rgba(231, 76, 60,1.0);
  font-size: 12px;
  line-height: 14px;
}
