# dependency
node_modules

# yarn
yarn.lock

# npm cache
.npm

# build directory
public/build

# Logs
logs
*.log
npm-debug.log*

# coverages
coverage

# OSX stuffs
.DS_Store

# ignore credentials
.gitignore
credentials.js
