@value largeBP, mediumBP, smallBP from 'SharedStyles/globalStyles';

/**
 * application layout styles
 */
.constraintWidth {
  margin: 0px auto;
  min-width: 320px;
  max-width: 1100px;

  @media largeBP { padding: 0px; }
  @media mediumBP { padding: 0px 15px; }
}

.primaryContent { flex: 1; }

.secondaryContent {
  width: 260px;

  @media mediumBP { display: none; }
  @media smallBP { display: none; }
}

.showOnMediumBP {
  display: none;
  @media mediumBP { display: inherit; }
  @media smallBP { display: inherit; }
}
