@value smallBP from 'SharedStyles/globalStyles';

.container {
  margin-top: 20px;
  position: relative;
}

.countsContainer {
  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  justify-content: space-around;

  @media smallBP { flex-wrap: wrap; }
}

.loadingMsg {
  margin-top: -30px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}

.errorMsg {
  font-weight: bold;
  padding: 10px 0px;
  color: rgba(231, 76, 60,1.0);
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
