@value borderColor, secondaryFontColor, primaryFontColor, backShade from 'SharedStyles/globalStyles.css';
@value smallBP from 'SharedStyles/globalStyles';

/**
 * RichEditor styles
 */

.container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid borderColor;
}

.readOnlyContainer {
  border: none;
}

.editorContainer {
  padding: 10px 10px;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid borderColor;
  cursor: text;

  & :global .public-DraftEditorPlaceholder-root {
    position: absolute;
    color: secondaryFontColor;
  }
}

.readOnlyEditorContainer {
  padding: 0px;
  border-bottom: none;
}

.buttonClass {
  margin-top: 20px;
}

.newDiscussion { min-height: 300px; }


/**
 * Controls
 */
.controlsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid borderColor;
  @media smallBP { flex-direction: column-reverse; }
}

.controls {
  display: flex;
}

.controlButton {
  padding: 10px 10px;
  user-select: none;
  cursor: pointer;

  text-transform: uppercase;
  color: secondaryFontColor;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;

  transition: color 0.3s;

  &:hover { color: primaryFontColor; }

  @media smallBP { padding: 5px 10px; }
}

.controlButtonActive {
  color: primaryFontColor;
}

/**
 * editor text styles
 */

.editorBlockquoteStyle {
  display: inline-block;
  position: relative;
  margin: 10px 0px 10px 20px;
  padding: 10px 20px;
  background-color: backShade;
  font-style: italic;
}

.editorBlockquoteStyle::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  left: 0px;
  top: 0px;
  background-color: borderColor;
}

.editorCodeStyle {
  margin: 0px;
  padding: 0px;
  line-height: 18px;
  overflow-x: hidden;
}

:global .public-DraftStyleDefault-pre {
  margin: 10px 0px;
  padding: 5px 5px;
  background-color: backShade;
  border: 1px solid borderColor;
}

.editorH1Style,
.editorH2Style,
.editorH3Style { color: #4c4c4c; }

.editorH1Style { font-size: 1.6em; }
.editorH2Style { font-size: 1.3em; }
.editorH3Style { font-size: 1.1em; }
